{% extends 'basic.html' %}

{% block title%} Sameep Online Shopping Cart {% endblock %}

{% block body%} 

<h2 class="Grocery">Grocery</h2>
  <wee-slider data-loop="true" data-align="center" data-buttons-on-hover="true">
    <div class="wee-slider">
      <ul class="wee-slider__slides">
        <li class="wee-slider__slide">
          <div class="slide-content">
            <img src="https://picsum.photos/600/400?a">
          </div> 
        </li>
        <li class="wee-slider__slide">
          <div class="slide-content">
            <img src="https://picsum.photos/600/400?b">
          </div> 
        </li>
        <li class="wee-slider__slide">
          <div class="slide-content">
            <img src="https://picsum.photos/600/400?c">
          </div> 
        </li>
        <li class="wee-slider__slide">
          <div class="slide-content">
            <img src="https://picsum.photos/600/400?d">
          </div> 
        </li>
        <li class="wee-slider__slide">
          <div class="slide-content">
            <img src="https://picsum.photos/600/400?e">
          </div> 
        </li>
        <li class="wee-slider__slide">
          <div class="slide-content">
            <img src="https://picsum.photos/600/400?f">
          </div> 
        </li>
        <li class="wee-slider__slide">
          <div class="slide-content">
            <img src="https://picsum.photos/600/400?g">
          </div> 
        </li>
      </ul>
      <div class="wee-slider__buttons">
        <button class="wee-slider__button-prev">Prev</button>
        <button class="wee-slider__button-next">Next</button>
      </div>
    </div>
    <ul class="wee-slider__navdots">
      <li class="wee-slider__navdot"></li>
      <li class="wee-slider__navdot"></li>
      <li class="wee-slider__navdot"></li>
      <li class="wee-slider__navdot"></li>
      <li class="wee-slider__navdot"></li>
      <li class="wee-slider__navdot"></li>
      <li class="wee-slider__navdot"></li>
    </ul>
  </wee-slider>


  <script src="static/js/main.js"></script>






{% endblock %}